Profiles.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.profiles.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="profiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
